/*
 * =====================================================================================
 *
 *       Filename:  secrets.h
 *
 *    Description:  Place secret token and passwd in this file
 *
 *         Author:  Sebastien Chassot (sinux), seba.ptl@sinux.net
 *        Company: Post Tenebras Lab 
 *
 * =====================================================================================
 */


// Thingspeak server & key 
#define TH_SERVER = "api.thingspeak.com";
#define TH_APIKEY = "";

// wifi setting
#define WI_SSID = "";
#define WI_PASSWD = "";

// Mosquitto MQTT broker setting
#define MQTT_SERVER "10.0.0.1"
#define MQTT_USER ""
#define MQTT_PASSWORD ""

