/*
 * =====================================================================================
 *
 *       Filename:  secrets.h
 *
 *    Description:  Place secret token and passwd in this file
 *
 *         Author:  Sebastien Chassot (sinux), seba.ptl@sinux.net
 *        Company: Post Tenebras Lab 
 *
 * =====================================================================================
 */

#ifndef __SECRET_H__
#define __SECRET_H__

#define OTA
#define ONEWIRE
#define DHTTEMP
#define BME280

// Thingspeak server & key 
#define TH_SERVER   "api.thingspeak.com"
#define TH_APIKEY   "L00DEADBEEF0000L"

// Mosquitto MQTT broker setting
#define MQTT_SERVER   "mqtt.local"
#define MQTT_USER     ""
#define MQTT_PASSWORD ""

#endif // __SECRET_H__